.App{
    height: 100vh;
    padding: 0px 100px ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center ;
}

.books{
    display: flex;
    gap: 10px;
    
}
.book{
    /* margin: 5px; */
    /* background-color: blue; */
    border: 1px red solid;

    flex : 1;   /* this means that each book will take up equal space in the container */
    display: flex;
    flex-direction: column;
}

img{
    width: 200px;
    height: 300px;
    object-fit: cover; /* this will make sure that the image will cover the entire area without stretching */
    background-color: aquamarine;
}

.delete{
    border: none;
    margin: 3px 6px;
    background-color:white;
    cursor: pointer;
    border: 1px solid rgb(245, 191, 191);
    color:rgb(212, 91, 40)
}
.update{
    border: none;
    margin: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 243);
    color: rgb(158, 141, 209);

}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 250px;
    padding: 10px;
    border: 1px,solid gray;
}

.formButton{
    border: none;
    padding: 10px;
    background-color: rgb(203, 158, 104);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
 